/* @import 'modul.css'; */
@import "menu.css";
@import "after-intro.css";

@font-face {
  font-family: "Queental";
  src: url("/fonts/Queental-Regular.ttf");
}

:root {
  --classic-blue: #0f4c81;
  --turqoise: #53b0ae;
}

* {
  box-sizing: border-box;
}

html {
  text-transform: uppercase;
  font-family: "Queental", cursive;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* height: 100%; */
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
}

.height-0 {
  height: 0;
}

.opacity-0 {
  opacity: 0;
}

.main-page > .content {
  margin-bottom: 1rem;
}

/* .content:not(.content-landing) {
  text-transform: none;
  font-family: "Inconsolata", monospace;
  font-weight: normal;
} */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: justify;
  transition: opacity 0.5s ease-in;
  padding: 1rem;
  flex-direction: row;
  text-align: center;
}
.content-section__inner {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content-landing {
  flex-direction: column;
  background: #f2f2f2;
  letter-spacing: 0.25rem;
}

.content h2 {
  font-size: 4rem;
  margin: 1rem auto;
}
.content.full-screen {
  min-height: calc(100vh - 64px - 5rem);
}
@media (max-width: 491px) {
  .content.full-screen {
    min-height: calc(100vh - 64px - 2rem);
  }
  .content h2 {
    font-size: 3rem;
  }
}
.col-50 {
  height: 100%;
  width: 50%;
}

.content-home-second .col-left {
  display: flex;
  align-items: center;
}

.svg__cta {
  opacity: 0;
}
.svg__cta {
  position: fixed;
  bottom: -2rem;
  left: -2rem;
  cursor: pointer;
  width: 300px;
  height: 300px;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 7.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  transition: opacity 0.2s ease-in;
  transition-delay: 0;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
body.nav-active .svg__cta {
  opacity: 1;
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}
.content-third {
  background: black;
  color: white;
  padding: 7.5rem 1rem;
  font-family: "Queental";
  align-items: flex-start;
  position: relative;
}
.content-third .content-section__inner {
  width: 100%;
  padding: 2rem;
  max-width: 600px;
  line-height: 2rem;
}
.content-third .about-title {
  margin-bottom: 150px;
  text-align: center;
}
.content-third .about-text {
  transition: all 0.3s ease-in;
}
.content-third .floating-logo {
  position: absolute;
  /* bottom: -128px; */
  left: 0;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.floating-icon {
  position: absolute;
  top: -128px;
  left: 50%;
  transform: translateX(-50%);
  transition-delay: 1s;
}
@media (max-width: 991px) {
  .svg__cta {
    display: none;
  }
  .content-third .content-section__inner {
    padding: 0.25rem;
    text-align: justify;
  }
}
